.nav {
	display: flex;
	justify-content: space-between;
	padding: 20px 0 20px 60px;
	/* margin-right: 200px; */
	align-items: center;
	font-size: 20px;
	background-color: lightcoral;
}
.nav > div {
	width: 20rem;
}
.nav .logo {
	color: blueviolet;
}
.links {
	display: flex;
	justify-content: space-between;
	text-decoration: none;
}
